<div class="wrapper">
{% paginate blog.articles by 5 %}

{% include 'breadcrumb' %}


{% for article in blog.articles %}

  <h3><a href="{{ article.url }}">{{ article.title }}</a></h3>
  <p class="blog-date">
    by {{ article.author }} on
    <time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: format: 'month_day_year' }}</time>
    {% if article.tags.size > 0 %}
      <span class="meta-sep">&#124;</span>
      {% for tag in article.tags %}
        Posted in <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %} <span class="meta-sep">&#8226;</span> {% endunless %}
      {% endfor %}
    {% endif %}
  </p>

  {% comment %}
    Add a surrounding div with class 'rte' to anything that will come from the rich text editor.
    Since this is just a listing page, you can either use the excerpt or truncate the full article.
  {% endcomment %}
  <div class="rte">
    {% if article.excerpt.size > 0 %}
      {{ article.excerpt }}
    {% else %}
      <p>{{ article.content | truncatewords: 750 }}</p>
    {% endif %}
  </div>

  <p><a href="{{ article.url }}">{{ 'blogs.article.read_more' | t }} &gt;</a></p>

  {% unless forloop.last %}<hr>{% endunless %}

{% endfor %}

{% if paginate.pages > 1 %}
  <div class="text-center">
    {% include 'pagination-custom' %}
  </div>
{% endif %}

{% endpaginate %}
</div>