<header class="section-header section-header-image">
  <div class="background-overlay"></div>
<div class="wrapper">
  <h2 class="section-header__title"><span class="bold-text">Around the Cycle</span></h2>
  <p>Based in Pasadena, California and serving cyclists from <br/>Los Angeles County to the rest of the World</p>
</div>
</header>
<div class="wrapper">
  <div id="about-history" style="clear: both;" class="section">

<div class="grid"><meta charset="utf-8" />
  <p class="grid__item large--one-whole">
    Welcome to a <strong>NEW KIND of BIKE SHOP</strong>. 
    Rooted in the belief that cycling and triathlon should be more <strong>AFFORDABLE, ACCESSIBLE</strong> and <strong>SUSTAINABLE</strong>. 
    We’ve set out to make it <strong>EASY</strong> &amp; <strong>VALUABLE</strong> for people to <strong>PASS ON</strong> their old <strong>BIKES, PARTS &amp; GEAR,</strong> 
    while others, whether <strong>LOCAL or GLOBAL</strong>, score some <strong>AWESOME DEALS</strong> on those same goods.
    Not only are you sure to <strong>SAVE</strong> or <strong>MAKE MONEY</strong>, but you’ll help to <strong>CONSERVE RESOURCES</strong> and contribute to a <strong>HEALTHIER</strong> and <strong>CLEANER PLANET</strong>.
    It’s a practical solution that <strong>ALL CAN BE A PART OF</strong>.
  </p>
  </div>
</div>
<div id="about-team" class="section">
<h3 class="text-center"><span class="bold-text">Team ATC</span></h3>
<div class="text-center grid">
<div class="grid__item large--one-quarter medium-down--one-half"><span class="grid-link__image grid-link__image--product"> <span class="grid-link__image-centered"> <img src="{{ "RyanSuzy.jpg" | asset_url }}" /> </span> </span>
<p class="grid-link__title">Ryan &amp; Suzy Weeks</p>
<p class="">Owners</p>
</div>
<div class="grid__item large--one-quarter medium-down--one-half"><span class="grid-link__image grid-link__image--product"> <span class="grid-link__image-centered"> <img src="{{ "Jonathan.jpg" | asset_url }}" /> </span> </span>
<p class="grid-link__title">Jonathan West</p>
<p class="">Service Center Manager</p>
</div>
<div class="grid__item large--one-quarter medium-down--one-half"><span class="grid-link__image grid-link__image--product"> <span class="grid-link__image-centered"> <img src="{{ "Olsen.jpg" | asset_url }}" /> </span> </span>
<p class="grid-link__title">Olsen Aviles</p>
<p class="">Mechanic &amp; Sales</p>
</div>
<div class="grid__item large--one-quarter medium-down--one-half"><span class="grid-link__image grid-link__image--product"> <span class="grid-link__image-centered"> <img src="{{ "stephen.jpg" | asset_url }}" /> </span> </span>
<p class="grid-link__title">Stephen Romio</p>
<p class="">Mechanic</p>
</div>
<div class="grid__item large--one-quarter medium-down--one-half"><span class="grid-link__image grid-link__image--product"> <span class="grid-link__image-centered"> <img src="{{ "Josh2.jpg" | asset_url }}" /> </span> </span>
<p class="grid-link__title">Josh Pawelek</p>
<p class="">Online Sales</p>
</div>
<div class="grid__item large--one-quarter medium-down--one-half"><span class="grid-link__image grid-link__image--product"> <span class="grid-link__image-centered"> <img src="{{ "Keilani.jpg" | asset_url }}" /> </span> </span>
<p class="grid-link__title">Keilani Vega</p>
<p class="">Photography</p>
</div>  
</div>
</div>
  <h3 class="text-center"><span class="bold-text">Get to know us</span></h3>
  <iframe src="https://player.vimeo.com/video/125064627?color=11b390&byline=0&portrait=0" width="1100" height="619" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen class="atc-video"></iframe>

</div>