<header class="section-header section-header-image">
  <div class="background-overlay"></div>
<div class="wrapper">
<h2 class="section-header__title">About Us</h2>
<p>Around the Cycle is a unique bicycle shop dedicated to helping people pass on their old bikes, parts, and gear to others who will continue to use it. </p>
</div>
</header>
<div class="wrapper">
<iframe src="https://player.vimeo.com/video/125064627?color=11b390&byline=0&portrait=0" width="1100" height="619" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen class="atc-video"></iframe>
<div id="about-team" class="section">
<h3 class="text-center">Team <span class="bold-text">ATC</span></h3>
<div class="text-center grid">
<div class="grid__item large--one-quarter medium-down--one-half"><span class="grid-link__image grid-link__image--product"> <span class="grid-link__image-centered"> <img src="{{ "RyanSuzy.jpg" | asset_url }}" /> </span> </span>
<p class="grid-link__title">Ryan &amp; Suzy Weeks</p>
<p class="">Owners</p>
</div>
<div class="grid__item large--one-quarter medium-down--one-half"><span class="grid-link__image grid-link__image--product"> <span class="grid-link__image-centered"> <img src="{{ "Jonathan.jpg" | asset_url }}" /> </span> </span>
<p class="grid-link__title">Jonathan West</p>
<p class="">Service Center Manager</p>
</div>
<div class="grid__item large--one-quarter medium-down--one-half"><span class="grid-link__image grid-link__image--product"> <span class="grid-link__image-centered"> <img src="{{ "Danny.jpg" | asset_url }}" /> </span> </span>
<p class="grid-link__title">Danny Muller</p>
<p class="">Online Sales Manager</p>
</div>
<div class="grid__item large--one-quarter medium-down--one-half"><span class="grid-link__image grid-link__image--product"> <span class="grid-link__image-centered"> <img src="{{ "Olsen.jpg" | asset_url }}" /> </span> </span>
<p class="grid-link__title">Olsen Aviles</p>
<p class="">Mechanic</p>
</div>
<div class="grid__item large--one-quarter medium-down--one-half"><span class="grid-link__image grid-link__image--product"> <span class="grid-link__image-centered"> <img src="{{ "Brian.jpg" | asset_url }}" /> </span> </span>
<p class="grid-link__title">Brian Ridley</p>
<p class="">Sales</p>
</div>
<div class="grid__item large--one-quarter medium-down--one-half"><span class="grid-link__image grid-link__image--product"> <span class="grid-link__image-centered"> <img src="{{ "Ben.jpg" | asset_url }}" /> </span> </span>
<p class="grid-link__title">Ben Songster</p>
<p class="">Online Sales</p>
</div>
</div>
</div>
<div id="about-history" style="clear: both;" class="section">
<h3 class="text-center">Brief <span class="bold-text">History</span></h3>
<div class="grid"><meta charset="utf-8" />
<p class="grid__item large--one-whole">Around the Cycle started when Ryan Weeks, an experienced Ironman triathlete saw an opportunity to help sell old items cyclists and triathletes were no longer using. It started as a side project, selling and shipping bikes and parts all over the world. Before long friends were asking him to help them find and repair bikes, often on a tight budget. Fueled by a passion for bicycles, sustainability, and helping others, it was only a matter of time before Around the Cycle grew into a full time effort. In February 2014, it expanded out of a garage and into a retail storefront, growing our team, capacity, and skill sets to better serve the local cycling community. We haven't looked back since, and have enjoyed establishing the go-to consignment shop for Cyclists and Triathletes in Los Angeles county. So whether you're looking to unload some old gear, find an affordable and reliable used bike, or get yours riding just the way you want it, we're here to help.</p>
</div>
</div>
</div>